# Logs
logs/
*.log

# Node modules
node_modules/

# Build directories
dist/
build/
target/

# System files
.DS_Store
Thumbs.db

# Environment variables
.env

# Python
__pycache__/
*.py[cod]

# Java
*.class
*.jar

# IDE settings
.idea/
.vscode/

# Docker
docker-compose.override.yml
